<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MyPlayer/src/VideoPlayer/Player.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="VideoPlayer.Player"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MyPlayer"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djina.library.path=&quot;E:\Program Files\VideoLAN\VLC&quot;"/>
</launchConfiguration>
